run = "bash start.sh"
entrypoint = "frontend/src/App.tsx"

[nix]
channel = "stable-23_11"

[languages]
[languages.typescript]
pattern = "**/{*.ts,*.tsx}"
[languages.typescript.languageServer]
start = "typescript-language-server --stdio"

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 8000
externalPort = 8000
exposeLocalhost = true
