run = "cd frontend && npm install && npx vite --host 0.0.0.0 --port 3000"
entrypoint = "frontend/src/App.tsx"

[nix]
channel = "stable-23_11"

[languages]
[languages.typescript]
pattern = "**/{*.ts,*.tsx}"
[languages.typescript.languageServer]
start = "typescript-language-server --stdio"

[[ports]]
localPort = 3000
externalPort = 80
exposeLocalhost = true
